@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.box-shadow-prd {
    box-shadow: 0 0.0625rem 5px 0 rgba(0,0,0,.05);
}

.box-shadow-6 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ant-btn-primary {
    background-color: #1677ff !important;
}

.box-sh {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.total-footer {
    transition: background .1s cubic-bezier(.4,0,.6,1);
}

.total-footer::before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    height: 1.25rem;
    width: 100%;
    background: linear-gradient(transparent,rgba(0,0,0,.08));
}

.text-el {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* จำนวนบรรทัดที่ต้องการให้แสดง */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
